spec:
  inputs:
    revision:
      description: "Use revision of repository."
      type: string
      default: "default"
    release:
      description: "Indicates whether the pipeline is being used for a release."
      type: boolean
      default: false
---

image: ${DOCKER_REGISTRY_MIRROR}/alpine

variables:
  PIPELINE_NAME: '$CI_COMMIT_TITLE'
  REPOSITORY: https://hg.governikus.de/AusweisApp/AusweisApp2

workflow:
  name: '$PIPELINE_NAME'
  rules:
    - if: '$REVIEWBOARD_REVIEW_ID != null'
      variables:
        PIPELINE_NAME: '${REVIEWBOARD_REVIEW_ID} / ${REVIEWBOARD_DIFF_REVISION}'
    - if: '$PATCH_IDENTIFIER != null'
      variables:
        PIPELINE_NAME: 'Rev: $[[ inputs.revision ]] | Patch: ${PATCH_IDENTIFIER}'
    - if: '$SELECT_JOB_REGEX != null'
      variables:
        PIPELINE_NAME: 'Rev: $[[ inputs.revision ]] | ${SELECT_JOB_REGEX}'
    - when: always
      variables:
        PIPELINE_NAME: 'Rev: $[[ inputs.revision ]]'

stages:
  - generator
  - trigger

Bootstrap:
  stage: generator
  tags:
    - $BOOTSTRAP_RUNNER
  variables:
    VIRTUAL_ENV: $CI_PROJECT_DIR/venv
  before_script:
    - env
    - apk add mercurial cmake uv
    - uv venv $VIRTUAL_ENV
    - source $VIRTUAL_ENV/bin/activate
  script:
    - hg clone -U ${REPOSITORY} source
    - hg update -r $[[ inputs.revision ]] -R source
    - cmake -DSPLIT=OFF -DRELEASE="$[[ inputs.release ]]" -DREV="$[[ inputs.revision ]]" -P source/ci.cmake
  artifacts:
    paths:
      - gitlab-ci-child.yml
    reports:
      dotenv: env

execute:
  stage: trigger
  trigger:
    include:
      - artifact: gitlab-ci-child.yml
        job: Bootstrap
    strategy: depend
    forward:
      pipeline_variables: true
