image: ${DOCKER_REGISTRY_MIRROR}/alpine:3.22

variables:
  GIT_STRATEGY: empty
  BINARY_DIR: $CI_PROJECT_DIR/bin
  VIRTUAL_ENV: $CI_PROJECT_DIR/venv
  CCACHE_BASEDIR: "$CI_PROJECT_DIR"
  CCACHE_REMOTE_ONLY: true
  CCACHE_RESHARE: true

workflow:
  name: '$PIPELINE_NAME'

.prepare:
  setup:
    - env
    - !reference [.prepare, pkg]
    - !reference [.prepare, uv]
    - hg clone -U ${REPOSITORY} source
    - hg -R source update -r $REVISION
  pkg:
    - |
      if command -v apk >/dev/null 2>&1; then
        apk add mercurial cmake samurai make gdb lldb uv python3
      elif command -v apt-get >/dev/null 2>&1; then
        apt-get update
        apt-get install -y mercurial cmake ninja-build make gdb lldb python3 curl ca-certificates
        curl --proto '=https' --tlsv1.2 -LsSf https://github.com/astral-sh/uv/releases/download/0.9.3/uv-installer.sh | sh
        source $HOME/.local/bin/env
      elif command -v dnf >/dev/null 2>&1; then
        dnf -y install mercurial cmake ninja-build make gdb lldb uv python3
      elif command -v sw_vers >/dev/null 2>&1; then
        export UV_NO_MODIFY_PATH=1
        export UV_INSTALL_DIR=$BINARY_DIR
        curl --proto '=https' --tlsv1.2 -LsSf https://github.com/astral-sh/uv/releases/download/0.9.3/uv-installer.sh | sh
        curl --proto '=https' --tlsv1.2 -LsSf https://github.com/ccache/ccache/releases/download/v4.12.1/ccache-4.12.1-darwin.tar.gz \
             | tar -C $BINARY_DIR --strip-components=1 -xz "*/ccache"
        export PATH="$BINARY_DIR/:$PATH"
      fi
  uv:
    - uv venv $VIRTUAL_ENV
    - source $VIRTUAL_ENV/bin/activate
    - |
      if command -v sw_vers >/dev/null 2>&1; then
        uv pip install mercurial cmake==4.1.0 ninja
      fi

.Base:
  tags:
    - $LOW_RUNNER
  rules:
    - if: '$SELECT_JOB_REGEX != null && $CI_JOB_NAME !~ $SELECT_JOB_REGEX && ($CI_JOB_NAME =~ /^Libraries/ || $SELECT_JOB_MANUAL == null)'
      when: never
    - if: '$USE_DISTRIBUTION_PROFILE == "ON" && $RELEASE != "true"'
      when: never
    - if: '$SELECT_JOB_REGEX != null && $CI_JOB_NAME !~ $SELECT_JOB_REGEX'
      when: manual
    - if: '$CI_JOB_NAME =~ /^Deploy_Final/ && $RELEASE_FINAL != "true"'
      when: never
    - if: '$CI_JOB_NAME =~ /^Deploy/ && $RELEASE == "true"'
      when: manual
    - if: '$CI_JOB_NAME =~ /^Deploy/'
      when: never
    - if: '$CI_JOB_NAME =~ /^Light/ && $SELECT_JOB_REGEX != null && $CI_JOB_NAME =~ $SELECT_JOB_REGEX'
      when: on_success
    - if: '$CI_JOB_NAME =~ /^Light/'
      when: never
    - when: on_success

.Packages:
  extends: .Base
  variables:
    PACKAGES_DIR: $CI_PROJECT_DIR/packages
  cache:
    - key: packages
      paths:
        - packages
      when: always

default:
  before_script:
    - export PATH=$BINARY_DIR:$PATH
    - !reference [.prepare, setup]

Libraries_Linux:
  extends: .Packages
  tags:
    - $HIGH_RUNNER
  before_script:
    - !reference [.prepare, setup]
    - |
      apk add wget g++ ccache perl \
              pkgconf lld pcsc-lite-dev \
              mesa-dev libx11-dev libxkbcommon-dev xcb-util-wm-dev xcb-util-image-dev xcb-util-keysyms-dev
  script:
    - cmake -P source/ci.cmake

Linux_Debian_Vanilla:
  extends: .Base
  tags:
    - $MEDIUM_RUNNER
  parallel:
    matrix:
      - version:
          - trixie-slim
  image: ${DOCKER_REGISTRY_MIRROR}/debian:$version
  variables:
    XDG_RUNTIME_DIR: "$CI_PROJECT_DIR/xdg"
    LANG: "C.UTF-8"
    LC_ALL: "C.UTF-8"
  script:
    - mkdir -p "$XDG_RUNTIME_DIR"
    - chmod 700 "$XDG_RUNTIME_DIR"
    - |
      apt-get install -y g++ pkgconf ccache \
                     libhttp-parser-dev libpcsclite-dev libssl-dev \
                     qt6-base-dev qt6-base-private-dev qt6-declarative-dev \
                     qt6-scxml-dev qt6-svg-dev \
                     qt6-tools-dev qt6-websockets-dev qt6-connectivity-dev \
                     \
                     libqt6svg6 qml6-module-qt-labs-platform qml6-module-qtqml \
                     qml6-module-qtqml-models qml6-module-qtqml-statemachine \
                     qml6-module-qtqml-workerscript qml6-module-qtquick-controls \
                     qml6-module-qtquick-layouts qml6-module-qtquick-templates \
                     qml6-module-qtquick-window qml6-module-qtquick-dialogs \
                     qml6-module-qtcore

      if [ "$version" == "bookworm-slim" ]; then
        apt-get install -y qml6-module-qt-labs-folderlistmodel
      fi

    - cmake -P source/ci.cmake
  artifacts:
    expire_in: 1 week
    reports:
      junit: build/**/results.*.junit.xml

Linux_Alpine:
  extends: Libraries_Linux
  tags:
    - $MEDIUM_RUNNER
  needs:
    - job: Libraries_Linux
      artifacts: false
      optional: true
  parallel:
    matrix:
      - variant: [App, Integrated]
        compiler: [g++, clang++, clazy]
        cxx_standard: [20]
      - variant: [App]
        compiler: [g++]
        cxx_standard: [17]
  script:
    - apk add clang clazy gnupg gcovr check-jsonschema typos py3-codespell yamllint ruff
    - uv pip install sphinx-lint
    - cmake -P source/ci.cmake -- -DCMAKE_CXX_COMPILER=${compiler} -DCMAKE_CXX_STANDARD=${cxx_standard}
  artifacts:
    expire_in: 1 week
    reports:
      junit: build/**/results.*.junit.xml

Translations:
  extends: Libraries_Linux
  tags:
    - $LOW_RUNNER
  needs:
    - job: Libraries_Linux
      artifacts: false
      optional: true
  script:
    - cmake -P source/ci.cmake
  artifacts:
    expire_in: 1 week
    paths:
      - source/resources/translations/*.ts

Linux_OpenSSL:
  extends: Libraries_Linux
  tags:
    - $HIGH_RUNNER
  parallel:
    matrix:
      - openssl:
          - "1.1.1w"
          - "3.0.18"
  script:
    - apk add gcovr
    - cmake -DOPENSSL=${openssl} -P source/ci.cmake
  artifacts:
    expire_in: 1 week
    reports:
      junit: build/**/results.*.junit.xml

SonarQube:
  extends: .Packages
  tags:
    - $HIGH_RUNNER
  image: ${DOCKER_REGISTRY_MIRROR}/ubuntu:25.10
  variables:
    LANG: "C.UTF-8"
    LC_ALL: "C.UTF-8"
  cache:
    - key: packages
      paths:
        - packages
      when: always
    - key: "${CI_JOB_NAME}-${REV}"
      paths:
        - sonar
      when: always
  script:
    - |
      apt-get install -y openjdk-21-jdk-headless g++ pkgconf ccache mold \
                     libpcsclite-dev perl libgl1-mesa-dev libglu1-mesa-dev libegl1-mesa-dev
    - uv pip install gcovr
    - cmake -DSPLIT=OFF -P source/ci.cmake
  artifacts:
    expire_in: 1 week
    reports:
      junit: build/**/results.*.junit.xml

Light_Analyze:
  extends: SonarQube
  resource_group: SonarQube

Formatting:
  extends: Libraries_Linux
  tags:
    - $LOW_RUNNER
  needs:
    - job: Libraries_Linux
      artifacts: false
      optional: true
  script:
    - apk add dos2unix uncrustify ruff yamlfmt
    - cmake -P source/ci.cmake | tee output.log
    - if grep -q "FORMATTING FAILED" output.log; then exit 1; fi

Linux_Debian_Qt:
  extends: .Base
  tags:
    - $MEDIUM_RUNNER
  parallel:
    matrix:
      - QT:
          - 6.8.0
          - 6.9.0
          - 6.10.0
  image: ${DOCKER_REGISTRY_MIRROR}/debian:stable-slim
  variables:
    LANG: "C.UTF-8"
    LC_ALL: "C.UTF-8"
  script:
    - |
      apt-get install -y g++ pkgconf ccache libpcsclite-dev libssl-dev libudev-dev \
                         libglib2.0-0 libvulkan-dev libegl1-mesa-dev libxkbcommon0 libdbus-1-3 \
                         libfontconfig1
    - uv pip install aqtinstall
    - cmake -DQT=$QT -P source/ci.cmake
  artifacts:
    expire_in: 1 week
    reports:
      junit: build/**/results.*.junit.xml

.AndroidBase:
  extends: .Packages
  variables:
    ANDROID_CMDLINE_TOOLS: 13114758
    ANDROID_NDK_VERSION: 28.2.13676358
    ANDROID_COMPONENTS: '"cmdline-tools;19.0" "build-tools;36.1.0" "platforms;android-35" "ndk;${ANDROID_NDK_VERSION}"'
    ANDROID_SDK_ROOT: $CI_PROJECT_DIR/android-sdk
    ANDROID_NDK_ROOT: $ANDROID_SDK_ROOT/ndk/$ANDROID_NDK_VERSION
    ANDROID_CMDLINE_TOOLS_ZIP: commandlinetools-linux-${ANDROID_CMDLINE_TOOLS}_latest.zip
    GRADLE_USER_HOME: $CI_PROJECT_DIR/.gradle
  cache:
    - key: packages
      paths:
        - packages
      when: always
    - key: "${CI_JOB_NAME}-gradle"
      paths:
        - .gradle/caches/
        - .gradle/wrapper/
    - key: "${CI_JOB_NAME}-${ANDROID_CMDLINE_TOOLS}-${ANDROID_NDK_VERSION}-${ANDROID_COMPONENTS}"
      paths:
        - $ANDROID_SDK_ROOT
  before_script:
    - !reference [.prepare, setup]
    - apk add gcompat maven gradle ccache unzip perl bash g++ linux-headers
    - |
      if [ ! -d "$ANDROID_SDK_ROOT" ]; then
        if [ ! -f "$PACKAGES_DIR/$ANDROID_CMDLINE_TOOLS_ZIP" ]; then
          mkdir -p $PACKAGES_DIR
          wget -O $PACKAGES_DIR/$ANDROID_CMDLINE_TOOLS_ZIP "https://dl.google.com/android/repository/$ANDROID_CMDLINE_TOOLS_ZIP"
        fi
        unzip -d /tmp/cmd $PACKAGES_DIR/$ANDROID_CMDLINE_TOOLS_ZIP
        set +o pipefail
        yes | /tmp/cmd/cmdline-tools/bin/sdkmanager --sdk_root=$ANDROID_SDK_ROOT $(eval echo $ANDROID_COMPONENTS)
        rm -rf /tmp/cmd
        set -o pipefail
      fi
  artifacts:
    expire_in: 1 week
    paths:
      - build/dist/**
      - build/src/libAusweisApp*

Libraries_Android:
  extends: .AndroidBase
  tags:
    - $HIGH_RUNNER
  parallel:
    matrix:
      - arch: arm64-v8a
      - arch: armeabi-v7a
      - arch: x86_64
  script:
    - cmake -P source/ci.cmake -- -DCMAKE_ANDROID_ARCH_ABI=${arch}

Android_AAR:
  extends: .AndroidBase
  tags:
    - $MEDIUM_RUNNER
  needs:
    - job: Libraries_Android
      artifacts: false
      optional: true
  parallel:
    matrix:
      - arch:
          - arm64-v8a
          - armeabi-v7a
          - x86_64
  script:
    - cmake -DPROPAGATE=ON -P source/ci.cmake -- -DCMAKE_ANDROID_ARCH_ABI=${arch}

Android_Merged-AAR:
  extends: .Base
  tags:
    - $LOW_RUNNER
  needs:
    - job: Android_AAR
      artifacts: true
  script:
    - apk add maven gnupg
    - find build/dist -type f -exec mv {} $CI_PROJECT_DIR/ \;
    - cmake -P source/ci.cmake
  artifacts:
    expire_in: 1 week
    paths:
      - build/dist/**

Android_APK:
  extends: .AndroidBase
  tags:
    - $MEDIUM_RUNNER
  needs:
    - job: Libraries_Android
      artifacts: false
      optional: true
  parallel:
    matrix:
      - arch:
          - arm64-v8a
          - armeabi-v7a
          - x86_64
  script:
    - |
      if [ "$RELEASE" == "true" ]; then
        uv pip install google-api-python-client
      fi
    - cmake -DPROPAGATE=ON -P source/ci.cmake -- -DCMAKE_ANDROID_ARCH_ABI=${arch}

Docs:
  image:
    name: ${DOCKER_REGISTRY_MIRROR}/pandoc/latex:3.6.4-alpine
    entrypoint: [""]
  extends: .Base
  script:
    - |
      apk add py3-setuptools icu poppler zziplib enscript ghostscript \
              py3-sphinx py3-sphinx_rtd_theme py3-sphinx-copybutton py3-sphinxcontrib-tabs
    - uv pip install doc8
    - |
      tlmgr --repository=https://ftp.tu-chemnitz.de/pub/tug/historic/systems/texlive/2024/tlnet-final install \
            latexmk cmap fncychap float wrapfig capt-of framed upquote needspace tabulary varwidth parskip titlesec \
            pdfmanagement-testphase tagpdf xcolor sectsty pdflscape fancyvrb tcolorbox booktabs mdwtools caption \
            babel-german csquotes tex-gyre l3experimental
    - cmake -P source/ci.cmake
  artifacts:
    expire_in: 1 week
    paths:
      - build/*-Lizenz.pdf
      - build/*-Lizenz.txt
      - build/docs/**/*.pdf
      - build/docs/**/*.tar.xz
      - build/docs/notes/singlehtml/**/appcast.html
      - build/docs/**/*.inv

Source:
  extends: .Base
  script:
    - apk add gnupg
    - cmake -P source/ci.cmake
  artifacts:
    expire_in: 1 week
    paths:
      - build/*.tar.gz*

Container:
  extends: .Base
  tags:
    - $CONTAINER_RUNNER
  parallel:
    matrix:
      - target:
          - SDK
          - VNC
  variables:
    STORAGE_DRIVER: vfs
  script:
    - apk add buildah runc netavark iptables
    - |
      cat <<EOF > /etc/containers/registries.conf.d/mirror.conf

      [[registry]]
      location = "docker.io"
      mirror-by-digest-only = false

      [[registry.mirror]]
      location = "${DOCKER_REGISTRY_MIRROR}"
      EOF
    - cmake -P source/ci.cmake
  artifacts:
    expire_in: 1 week
    paths:
      - build/AusweisApp*.tar

FreeBSD:
  extends: .Packages
  tags:
    - freebsd
  script:
    - unset CCACHE_REMOTE_STORAGE
    - unset CCACHE_REMOTE_ONLY
    - cmake -P source/ci.cmake
  artifacts:
    expire_in: 1 week
    reports:
      junit: build/**/results.*.junit.xml

Libraries_iOS:
  extends: .Packages
  parallel:
    matrix:
      - target:
          - OS
          - Simulator_x86_64
          - Simulator_arm64
  tags:
    - iOS
  script:
    - cmake -P source/ci.cmake

.iOS:
  extends: .Packages
  tags:
    - iOS
  script:
    - cmake -P source/ci.cmake
  artifacts:
    expire_in: 1 week
    paths:
      - build/*.ipa
      - build/*.zip
      - build/*.bcsymbolmap
      - AusweisApp_BuildDir.tar.zstd

iOS_IPA:
  extends: .iOS
  needs:
    - job: Libraries_iOS
      artifacts: false
      optional: true
      parallel:
        matrix:
          - target: OS
  parallel:
    matrix:
      - USE_DISTRIBUTION_PROFILE:
          - 'ON'
          - 'OFF'
  script:
    - cmake -P source/ci.cmake -- -DUSE_DISTRIBUTION_PROFILE=${USE_DISTRIBUTION_PROFILE}

iOS_Framework:
  extends: .iOS
  needs:
    - job: Libraries_iOS
      artifacts: false
      optional: true
  parallel:
    matrix:
      - target:
          - OS
          - Simulator_x86_64
          - Simulator_arm64

iOS_SwiftPackage:
  extends: .iOS
  needs:
    - job: iOS_Framework
      artifacts: true
  script:
    - find build -type f -exec mv {} $CI_PROJECT_DIR/ \;
    - cmake -P source/ci.cmake
  artifacts:
    expire_in: 1 week
    paths:
      - build/dist/*.zip

Libraries_MacOS:
  extends: .Packages
  tags:
    - macOS
  script:
    - cmake -P source/ci.cmake

MacOS:
  extends: Libraries_MacOS
  needs:
    - job: Libraries_MacOS
      artifacts: false
      optional: true
  parallel:
    matrix:
      - target: DMG_PKG
        USE_DISTRIBUTION_PROFILE: 'ON'
      - target: DMG_PKG
        USE_DISTRIBUTION_PROFILE: 'OFF'
      - target: Tests
      - target: Integrated
  script:
    - cmake -P source/ci.cmake -- -DUSE_DISTRIBUTION_PROFILE=${USE_DISTRIBUTION_PROFILE}
  artifacts:
    expire_in: 1 week
    paths:
      - build/*.dmg*
      - build/*.pkg*
    reports:
      junit: build/**/results.*.junit.xml

.Windows:
  extends: .Packages
  variables:
    GIT_STRATEGY: none
  before_script:
    - "ls env:"
    - |
      $items = Get-ChildItem -Force
      foreach ($item in $items) {
        if ($item.PSIsContainer -and $item.Name -ieq "packages") {
          continue
        }
        cmake -E rm -rf $item.name
      }
    - |
      hg clone -U $REPOSITORY source
      hg update -r $REVISION -R source
    - uv venv $VIRTUAL_ENV
    - powershell -Command "& '$env:VIRTUAL_ENV\Scripts\activate.ps1'"
  script:
    - cmake -P source/ci.cmake
  after_script:
    - cmake -E rm -rf source libs
  artifacts:
    expire_in: 1 week
    paths:
      - build/*.msi*
      - build/Appcast*
    reports:
      junit: build/**/results.*.junit.xml

Libraries_Win_GNU:
  extends: .Windows
  tags:
    - Win64_GNU

Libraries_Win_MSVC:
  extends: .Windows
  tags:
    - Win64_MSVC
  parallel:
    matrix:
      - target:
          - release
          - dev

Win_GNU:
  extends: Libraries_Win_GNU
  needs:
    - job: Libraries_Win_GNU
      artifacts: false
      optional: true
  parallel:
    matrix:
      - target:
          - MSI
          - Tests

Win_MSVC:
  extends: Libraries_Win_MSVC
  needs:
    - job: Libraries_Win_MSVC
      artifacts: false
      optional: true
  parallel:
    matrix:
      - target: MSI
        compiler: cl
      - target: MSI
        compiler: clang-cl
      - target: MSI
        compiler: clang++
      - target: MSI_dev
        compiler: cl
      - target: Tests_dev
        compiler: cl
  script:
    - cmake -P source/ci.cmake -- -DCMAKE_CXX_COMPILER="$env:compiler"

.Deploy:
  extends: .Base
  stage: deploy
  script:
    - find build -type f -exec mv {} $CI_PROJECT_DIR/ \;
    - cmake -P source/ci.cmake

Deploy_iOS_IPA:
  extends: .Deploy
  tags:
    - iOS
  needs:
    - job: iOS_IPA
      parallel:
        matrix:
          - USE_DISTRIBUTION_PROFILE: 'ON'

Deploy_Final_Framework:
  extends: .Deploy
  needs:
    - job: iOS_SwiftPackage
  script:
    - apk add github-cli
    - !reference [.Deploy, script]

Deploy_MacOS_PKG:
  extends: .Deploy
  tags:
    - macOS
  needs:
    - job: MacOS
      parallel:
        matrix:
          - target: DMG_PKG
            USE_DISTRIBUTION_PROFILE: 'ON'

Deploy_Android_APK:
  extends: .Deploy
  needs:
    - job: Android_APK
  script:
    - uv pip install google-api-python-client
    - !reference [.Deploy, script]

Deploy_Android_AAR:
  extends: .Deploy
  needs:
    - job: Android_Merged-AAR
  script:
    - apk add curl
    - !reference [.Deploy, script]

Deploy_Archive:
  extends: .Deploy
  needs:
    - job: Android_APK
    - job: Android_Merged-AAR
    - job: iOS_SwiftPackage
    - job: iOS_IPA
      parallel:
        matrix:
          - USE_DISTRIBUTION_PROFILE: 'ON'
          - USE_DISTRIBUTION_PROFILE: 'OFF'
    - job: MacOS
      parallel:
        matrix:
          - target: DMG_PKG
            USE_DISTRIBUTION_PROFILE: 'ON'
          - target: DMG_PKG
            USE_DISTRIBUTION_PROFILE: 'OFF'
    - job: Win_MSVC
      parallel:
        matrix:
          - target: MSI
            compiler: cl
    - job: Docs
    - job: Source
  script:
    - apk add samba-client
    - !reference [.Deploy, script]

Deploy_Allowlist:
  extends: .Deploy
  needs:
    - job: Win_MSVC
      parallel:
        matrix:
          - target: MSI
            compiler: cl
    - job: MacOS
      parallel:
        matrix:
          - target: DMG_PKG
            USE_DISTRIBUTION_PROFILE: 'OFF'
  script:
    - apk add curl
    - !reference [.Deploy, script]

Deploy_Cloud:
  extends: .Deploy
  needs:
    - job: Android_APK
    - job: iOS_IPA
      parallel:
        matrix:
          - USE_DISTRIBUTION_PROFILE: 'OFF'
    - job: MacOS
      parallel:
        matrix:
          - target: DMG_PKG
            USE_DISTRIBUTION_PROFILE: 'OFF'
    - job: Win_MSVC
      parallel:
        matrix:
          - target: MSI
            compiler: cl
  script:
    - apk add curl
    - !reference [.Deploy, script]

Deploy_Final_Container:
  extends: .Deploy
  needs:
    - job: Container
      parallel:
        matrix:
          - target: SDK
  script:
    - apk add skopeo
    - !reference [.Deploy, script]

Deploy_Final_GitHub:
  extends: .Deploy
  needs:
    - job: Android_APK
    - job: Source
    - job: MacOS
      parallel:
        matrix:
          - target: DMG_PKG
            USE_DISTRIBUTION_PROFILE: 'OFF'
    - job: Win_MSVC
      parallel:
        matrix:
          - target: MSI
            compiler: cl
    - job: Docs
  script:
    - apk add github-cli
    - !reference [.Deploy, script]

Light_Configuration:
  extends: Libraries_Linux
  needs:
    - job: Libraries_Linux
      artifacts: false
      optional: true
  script:
    - cmake -P source/ci.cmake

Light_Packages:
  extends: .Base
  script:
    - uv pip install python-gitlab
    - cmake -P source/ci.cmake
