<?include "cpack_variables.wxi"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <Property Id="PROXYSERVICE" Secure="yes" />
        <Property Id="PROXYSERVICE_FOUND" Secure="yes">
            <RegistrySearch Id="ProxyServiceRegistry" Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\AusweisAppProxy" Name="ImagePath" Type="raw" />
        </Property>
        <Property Id="PROXYSERVICE_OLD_FOUND" Secure="yes">
            <RegistrySearch Id="ProxyServiceOldRegistry" Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\AusweisApp2Proxy" Name="ImagePath" Type="raw" />
        </Property>
        <SetProperty Before="CostFinalize" Id="PROXYSERVICE" Value="true" Sequence="first" Condition="(NOT PROXYSERVICE) AND (((WIX_UPGRADE_DETECTED OR REINSTALL) AND (PROXYSERVICE_FOUND OR PROXYSERVICE_OLD_FOUND))OR (NOT (WIX_UPGRADE_DETECTED OR REINSTALL) AND (WIX_SUITE_TERMINAL=&quot;1&quot;) AND NOT (WIX_SUITE_SINGLEUSERTS)))" />

        <SetProperty Action="SetProxyServiceGui1" Before="CostFinalize" Id="ProxyServiceGui" Value="true" Sequence="ui" Condition="PROXYSERVICE = &quot;true&quot;" />
        <SetProperty Action="SetProxyServiceGui2" Before="CostFinalize" Id="ProxyServiceGui" Value="{}" Sequence="ui" Condition="NOT (PROXYSERVICE = &quot;true&quot;)" />

        <Feature Id="Executable">
            <ComponentRef Id="AusweisApp2" />
            <ComponentRef Id="ProxyService" />
        </Feature>

        <DirectoryRef Id="INSTALL_ROOT">
            <Component Id="AusweisApp2" Guid="{391CF345-5AA2-45CD-E001-C24861C9AB8D}" Condition="NOT (PROXYSERVICE = &quot;true&quot;)">
                <File Id="AusweisApp2" Source="AusweisApp.exe" ShortName="AusweisA.exe" />
            </Component>

            <Component Id="ProxyService" Guid="{391CF345-5AA2-45CD-E002-C24861C9AB8D}" Condition="PROXYSERVICE = &quot;true&quot;">
                <File Id="ProxyService" Source="AusweisApp.exe" ShortName="AusweisP.exe" />
                <ServiceInstall Id="AusweisAppProxy" Name="AusweisAppProxy" DisplayName="AusweisApp-Proxy" Description="!(loc.ServiceDescription)" Start="auto" Type="ownProcess" ErrorControl="normal" Account="LocalSystem" Arguments="--ui proxy --no-logfile" Vital="yes" Interactive="no" />
                <ServiceControl Id="AusweisAppProxy" Name="AusweisAppProxy" Start="install" Stop="uninstall" Remove="uninstall" Wait="yes" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>
